html,
body {
  margin: 0;
  padding: 0;
}

.cartCon {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cartItemsCon {
  flex: 3;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  position: relative;
}
.cartHeader {
  font-family: "Quicksand", sans-serif;
}
.cartItemsSubCon {
  display: flex;
  flex-direction: column;
}
.singleItemCon {
  border-bottom: 1px solid rgb(245, 244, 244);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 1rem 0;
  padding: 0.5rem 0;
}
.itemImgCon {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#singleImg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.itemNameCon {
  flex: 2;
  height: 100%;
}
.itemName {
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 1.1rem;
}
.itemPriceCon {
  flex: 1;
  height: 100%;
}
.itemBtnsCon {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  height: 100%;
}
.itemRemoveBtnCon {
  flex: 1;
  height: 100%;
}

.itemQuantity {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
}
.itemPrice {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
}
.itemButtons {
  font-family: "Quicksand", sans-serif;
  margin: 0 1rem;
  background-color: white;
  border: none;
  outline: none;
  font-weight: 700;
  font-size: 1.5rem;
}

/* .stepperCon {
  height: 100vh;
  width: 100%;
  flex: 2;
  border: 1px solid rgb(245, 244, 244);
  background-color: rgb(245, 244, 244);
} */
.subtotalCon {
  position: absolute;
  bottom: 1rem;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 6rem 0 2rem;
}
#backToDashboard {
  border: none;
  background-color: white;
  outline: none;
  font-family: "Quicksand", sans-serif;
  font-weight: 900;
  font-size: 1.3rem;
}
.subtotalText {
  font-family: "Quicksand", sans-serif;
  font-size: 1.3rem;
  font-weight: 800;
}
