:root {
  --primary: #3b5998;
}

@media screen and (max-width: 600px) {
  html,
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  .mainCon {
    border: 1px solid pink;
    width: 100%;
    height: 100vh;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    border-bottom: 0.5px solid var(--primary);
    padding: 0 1rem 0 2rem;
  }
  .navbarRight {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .branName {
    font-family: "Pattaya", sans-serif;
    font-size: 1.5rem;
    color: black;
  }
  .cartIconContainer button {
    border: none;
    background-color: white;
  }
  .authIconCon {
    margin-left: 1rem;
  }
  .cartBtn {
    border: none;
    background-color: white;
  }
  .cartIcon {
    width: 25px;
    height: 25px;
  }
  .authBtn {
    border: 1px solid var(--primary);
    color: var(--primary);
    font-weight: 700;
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 1.2rem;
    font-family: "Lato", sans-serif;
  }
}
