@media screen and (max-width: 600px) {
  html,
  body {
    margin: 0;
    padding: 0;
  }
  .orderSubTextCon {
    margin: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .orderSubText {
    font-family: "Lato", sans-serif;
    font-size: 1.5rem;
  }
  .backToDashboardBtn {
    background-color: #3b5998;
    color: white;
    padding: 0.5rem 1rem;
    border: 1px solid white;
    border-radius: 2rem;
    font-family: "Lato", sans-serif;
    font-size: 1.1rem;
  }
}
